
@{
    ViewBag.Title = "Cadastrar Nota";
}

<h2>Cadastrar Nota</h2>

<form class="form-horizontal" id="formNota">
    <div style="background-color:cornflowerblue; padding:10px">

        <label for="selectCliente">CLIENTE: </label>
        <select id="selectCliente" name="selectCliente"></select>

        <label for="txtTotal">TOTAL: </label>
        <input id="txtTotalNota" name="txtTotalNota" type="number" step=".01" min="0" readonly="readonly" />

    </div>

    <hr />

    <div>
        <h2>ITENS DA NOTA</h2>
        <div id="tableItens"></div>
        <input type="button" value="NOVO ITEM" id="btnNovoItem" onclick="btnNovoItemAction()" />
        <div id="tableItensDaNota"></div>
    </div>

    <div style="background-color:cornflowerblue; padding:10px; margin:10px" id="divAdicionar" name="divAdicionar" class="form-horizontal" hidden>
        <label for="selectProduto">PRODUTO: </label>
        <select id="selectProduto" name="selectProduto"></select>
        <label for="txtQuantidade">QUANTIDADE: </label>
        <input type="number" min="0" id="txtQuantidade" name="txtQuantidade" />
        <label for="txtValorUnitario">VALOR UNITÁRIO: </label>
        <input type="number" step=".01" min="0" id="txtValorUnitario" name="txtValorUnitario" />
        <label for="txtValorTotal">VALOR TOTAL: </label>
        <input type="number" min="0" step=".01" id="txtValorTotal" name="txtValorTotal" readonly="readonly" />
        <input type="button" value="ADICIONAR" id="btnAdicionarProduto" name="btnAdicionarProduto" onclick="AdicionarProduto()" />
    </div>

    <hr />

    <input type="button" value="CANCELAR" />
    <input type="button" value="SALVAR" onclick="SalvarNota()" />
</form>

@section _Nav{
    @Html.Partial("_Nav")
}

@section scripts{
    <script>

        function SalvarNota() {
            var form = $('#formNota').serialize();
            $.ajax({
                url: '@Url.Action("SalvarNota")',
                type: 'POST',
                data: form,
                success: function () {
                    var targetUrl = "/Nota/Listar";
                    window.location.href = targetUrl;
                }, error: function () {}
            });
        }

        $('#selectProduto').change(function () {
            PegaDadosProduto();
        });
        $('#txtQuantidade').change(function () {
            $('#txtValorTotal').val((parseFloat($('#txtQuantidade').val() * parseFloat($('#txtValorUnitario').val()))).toFixed(2));
        });
        $('#txtValorUnitario').change(function () {
            $('#txtValorUnitario').val(parseFloat($('#txtValorUnitario').val()).toFixed(2));
            $('#txtValorTotal').val(parseFloat(($('#txtQuantidade').val() * parseFloat($('#txtValorUnitario').val()))).toFixed(2));
        });

        function AdicionarProduto() {
            var form = $('#formNota').serialize();
            $.ajax({
                url: '@Url.Action("AdicionarProdutoNota")',
                type: 'POST',
                data: form,
                success: function (data) {
                    console.log('sucesso');
                    $('#tableItens').html(data.ListaItensNota);
                    $('#divAdicionar').hide();
                    console.log(data.ValorNota);
                    $('#txtTotalNota').val((data.ValorNota).toFixed(2));
                },
                error: function (data) {
                    console.log('erro');
                }
            })
        }

        function PegaDadosProduto() {
            $.ajax({
                url: '@Url.Action("DadosProduto")',
                type: 'POST',
                data: { id: $('#selectProduto').val() },
                success: function (data) {
                    $('#txtQuantidade').val(1);
                    $('#txtValorUnitario').val((parseInt(data.valor)).toFixed(2));
                    $('#txtValorTotal').val(parseInt(($('#txtQuantidade').val() * parseFloat($('#txtValorUnitario').val()))).toFixed(2));
                },
                error: function (data) {

                }
            });
        }

        function btnNovoItemAction() {
            $('#divAdicionar').show();
            PegaDadosProduto();
        }

        function PesquisarClientes() {
            $.ajax({
                url: '@Url.Action("PesquisarClientes")',
                type: 'GET',
                success: function (data) {
                    console.log('sucesso');
                    $('#selectCliente').html(data.ListaClientes);
                },
                error: function (data) {
                    console.log('erro');
                }
            });
        }

        function PesquisarProdutos() {
            $.ajax({
                url: '@Url.Action("PesquisarProdutos")',
                type: 'GET',
                success: function (data) {
                    console.log('sucesso');
                    $('#selectProduto').html(data.ListaProdutos);
                },
                error: function (data) {
                    console.log('erro');
                }
            });
        }

        function PegaNumeroNota() {
            $.ajax({
                url: '@Url.Action("PegaNumeroNota")',
                type: 'GET',
                success: function (data) {
                    console.log('sucesso');
                    $('#txtNumeroNota').val(data.NumeroNota);
                },
                error: function () {}
            });
        }

        $(document).ready(function () {
            PesquisarClientes();
            PesquisarProdutos();
        });

    </script>
}
