@model IEnumerable<AulaMVC.Models.Academico>
@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Academicos</h2>

@using (@Html.BeginForm("Index", "Academico", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    <div class="form-group">
        @Html.Label("txtNome", "Nome")
        <br />
        @Html.TextBox("txtNome", "", new { type = "text", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("txtSexo", "Sexo")
        <br />
        @Html.TextBox("txtSexo", "", new { type = "text", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("txtOrder", "OrderBy")
        <br />
        @Html.TextBox("txtOrder", "", new { type = "text", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("txtTake", "Take")
        <br />
        @Html.TextBox("txtTake", "", new { type = "text", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.TextBox("btnBuscar", "BUSCAR", new { type = "submit", @class = "btn btn-default" })
    </div>
}

<table width="100%" class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>SEXO</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Id_Academico</td>
                <td>@item.Nome</td>
                <td>@item.Sexo</td>
                <td>
                    @foreach (var nota in item.NOTA)
                    {
                        @nota.NomeMateria<br/>
                    }
                </td>
            </tr>
        }
    }
</table>